.detail-popup-container {
    padding: 8px 4px;
    background-color: #F5F6FA;
    border: 1px solid #cccccc;
    position: absolute;
    left: 8.8vw;
    top: 4vh;
    z-index: 100;
    width: 350px;
    height: 400px;
}

.close-icon {
    padding-top: 5px;
    position: absolute;
    right: 14px;
}

.close-icon:hover {
    cursor: pointer;
}